@keyframes showModal {
  from {
    transform: translateY(10%);
    opacity: 0;
    visibility: hidden;
  }

  to {
    transform: translateY(0%);
    opacity: 1;
    visibility: visible;
  }
}

@keyframes hideModal {
  from {
    transform: translateY(0%);
    opacity: 1;
    visibility: visible;
  }

  to {
    transform: translateY(10%);
    opacity: 0;
    visibility: hidden;
  }
}
