//fonts 

$roboto: 'Roboto', serif;

//colors

$colorAccent: rgb(255, 178, 36);
$colorAccentHover: rgb(253, 172, 22);
$colorBg: rgb(49, 49, 49);
$colorBgSecondary: rgb(102, 102, 102);
$colorOverlay: rgba(0,0,0,0.5);
$colorBlack: #000;