.openModal {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $colorAccent;
  border-radius: 5px;
  padding: 5px 10px;

  transition: background-color 0.1s linear, transform 0.1s linear, box-shadow 0.1s linear;

  text-transform: uppercase;
  font-weight: 500;

  &:hover {
    background-color: $colorAccentHover;
    box-shadow: 0 0 5px $colorAccentHover;
    transform: scale(1.05);
  }
}
